@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --font-display: "Funnel Sans", sans-serif;
}

@keyframes fade-zoom-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-zoom-in {
  animation: fade-zoom-in 240ms ease-out;
  will-change: transform, opacity;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(67, 61, 64, 0.6);
  border-radius: 9999px;
}